# Author            : Author.
# Creation date     : Month DD, YYYY.

# ---------------------------------------------------------------------  FOLDERS
# ------------------------------------------------------------------------ FILES
# Ignore the Sublime's project workspace file.
*.sublime-workspace
